//font 
$primary-font: "Titillium Web";

//primary color
$global-text-color: #13182C; //instock-Black
$interactive-elements-color: #2E66E5; //instock-Indigo
$global-white-color: #FFFFFF; 

//secondary color
$table-column-header-placeholder-text: #5C667E;
$outline-borders: #BDC5D5;

//background colors
$nav-header-and-button-hover-bg: #232940;
$page-column-cta-bg: #F7F8F9;

//supporting colors
$instock-label: #158463;
$out-of-stock-delete: #C94515;

//shadow
$shadow: rgba(19, 24, 44, 0.1);

//size
$desktop-width: 1280px;
$desktop-column-width: 3.9375rem;
$desktop-gutter-width: 1.5rem;
$tabletmin-width: 768px;
$tabletmax-width: 79.9375rem;
$tablet-gutter-width: 1.5rem;
$tablet-margin-width: 2rem;
$mobile-gutter-width: 1rem;
$mobile-margin-width: 1rem;

//margin
$mPadding: 1rem;
$mPaddingPlus: 1.5rem;

$dTPadding: 1.5rem;
$dTPaddingPlus: 2.25rem;
